.headerSearch a,
.header button {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    min-width: 60px;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    background-color: transparent;
    transition: all 0.3s ease-out;
}
.headerSearch a:hover,
.header button:hover{
    border-color: burlywood;
    color: burlywood;
}
.header-top {
    background-color: #00264b;
    display: flex;
    align-items: center;
}
.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lang-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-lang-wrap button {
    margin-left: 10px;
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .headerLink {
    text-decoration: none;
}
.header i {
    font-size: 1.5625rem;
    color: #00264b;
    transition: color 0.3s ease;
    cursor: pointer;
    margin-left: 5px;
}
.header i:hover {
    color: #00f;
}
.title-logo-wrap {
    display: flex;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}
.title-logo-wrap:hover span {
    color: blue;
}
.logo-wrap {

}
.logo-wrap img {
    max-width: 36px;
}
.icons-wrap {}
.headerSearch {
    display: flex;
    align-items: center;
}
.headerSearch input {
    padding: 5px 20px;
    min-width: 100px;
    border-radius: 15px;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}
.headerSearch input:hover {
    border-color: burlywood;
}
.headerSearch input:focus {
    border-color: coral;
}


.headerSearch a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 2px 5px;
    border-radius: 15px;
    cursor: pointer;
}
